ATLTravelPortal/Service References/BusApi/BusApi3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3182/BusApi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" />
  <xs:element name="GetStations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="request" nillable="true" type="q1:StationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="GetStationsResult" nillable="true" type="q2:StationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeatPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="request" nillable="true" type="q3:SeatPlanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeatPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="GetSeatPlanResult" nillable="true" type="q4:SeatPlanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="_req" nillable="true" type="q5:SearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="SearchBusResult" nillable="true" type="q6:SearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Book">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="_req" nillable="true" type="q7:BookingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="BookResult" nillable="true" type="q8:BookingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Issue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="_req" nillable="true" type="q9:IssueRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="IssueResult" nillable="true" type="q10:IssueResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueBooked">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="_req" nillable="true" type="q11:IssueRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueBookedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="IssueBookedResult" nillable="true" type="q12:IssueResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelBooked">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="_req" nillable="true" type="q13:CancelBookingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelBookedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="CancelBookedResult" nillable="true" type="q14:CancelBookingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelIssued">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="_req" nillable="true" type="q15:IssueCancelRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelIssuedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="CancelIssuedResult" nillable="true" type="q16:IssueCancelResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RouteScheduleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="_req" nillable="true" type="q17:RouteScheduleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RouteScheduleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="RouteScheduleListResult" nillable="true" type="q18:RouteScheduleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperatorList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="_req" nillable="true" type="q19:OperatorRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperatorListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="OperatorListResult" nillable="true" type="q20:OperatorResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusTypeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="_req" nillable="true" type="q21:BusTypeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="BusTypeListResult" nillable="true" type="q22:BusTypeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CityList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="_req" nillable="true" type="q23:BusCityRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="CityListResult" nillable="true" type="q24:BusCityResopnse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CategoryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="_req" nillable="true" type="q25:BusCategoryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CategoryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="CategoryListResult" nillable="true" type="q26:BusCategoryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="_req" nillable="true" type="q27:BookingListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="BookingListResult" nillable="true" type="q28:BookingListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PNRList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="_req" nillable="true" type="q29:BookingListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PNRListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="PNRListResult" nillable="true" type="q30:BookingListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ledger">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="_req" nillable="true" type="q31:LedgerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LedgerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ATLWCF.Operations" minOccurs="0" name="LedgerResult" nillable="true" type="q32:LedgerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>